<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="DataElementDictionaryFile" value="" />
        <add key="DataElementDictionaryFormat" value="BinaryFile" />
        <add key="UidDictionaryFile" value="" />
        <add key="UidDictionaryFormat" value="BinaryFile" />
        <add key="UseStrictDecoding" value="False" />
        <add key="LastOpenFolder" value="" />
        <add key="LastSaveFolder" value="" />
        <add key="SlideCyclingSpeed" value="" />
        <add key="GimpRemoteExecutable" value="" />
        <add key="ImageBrightnessFactor" value="" />
    </appSettings>
</configuration>
