Package: opendicom-navigator
Version: 0.1.1
Section: science
Priority: optional
Architecture: all
Depends: mono (>= 1.1.17.1), opendicom-sharp (>= 0.1.1)
Suggests: opendicom-sharp, opendicom-beagle, opendicom-utils
Provides: opendicom-navigator
Installed-Size: 464
Maintainer: Albert Gnandt (http://www.gnandt.com/)
Description: Simple ACR-NEMA and DICOM file browser and transcoder for Mono
 This package is part of the openDICOM.NET project. Please take a look at
 http://www.opendicom.net/ for more detailed informations.
