Package: opendicom-utils
Version: 0.1.0
Section: science
Priority: optional
Architecture: all
Depends: mono (>= 1.1.8.3), opendicom-sharp (= 0.1.0)
Suggests: opendicom-sharp, opendicom-navigator
Provides: opendicom-utils
Installed-Size: ???
Maintainer: Albert Gnandt <albert.gnandt@hs-heilbronn.de>
Description: A collection of ACR-NEMA and DICOM console tools for Mono
 This package is part of the openDICOM.NET project. Please take a look at
 http://opendicom.sourceforge.net/ for more detailed informations. 
