Package: opendicom-sharp
Version: 0.1.1
Section: science
Priority: optional
Architecture: all
Depends: mono (>= 1.1.17.1)
Suggests: opendicom-navigator, opendicom-beagle, opendicom-utils
Provides: opendicom-sharp
Installed-Size: 340
Maintainer: Albert Gnandt (http://www.gnandt.com/)
Description: ACR-NEMA and DICOM library for Mono
 This package is part of the openDICOM.NET project. Please take a look at
 http://www.opendicom.net/ for more detailed informations.
