Package: opendicom-sharp
Version: 0.1.0
Section: science
Priority: optional
Architecture: all
Depends: mono (>= 1.1.8.3)
Suggests: opendicom-utils, opendicom-navigator
Provides: opendicom-sharp
Installed-Size: 340
Maintainer: Albert Gnandt <albert.gnandt@hs-heilbronn.de>
Description: ACR-NEMA and DICOM library for Mono
 This package is part of the openDICOM.NET project. Please take a look at
 http://opendicom.sourceforge.net/ for more detailed informations.
