Package: opendicom-navigator
Version: 0.1.0
Section: science
Priority: optional
Architecture: all
Depends: mono (>= 1.1.8.3), opendicom-sharp (= 0.1.0)
Suggests: opendicom-sharp, opendicom-utils
Provides: opendicom-navigator
Installed-Size: 464
Maintainer: Albert Gnandt <albert.gnandt@hs-heilbronn.de>
Description: Simple ACR-NEMA and DICOM file browser and transcoder for Mono
 This package is part of the openDICOM.NET project. Please take a look at
 http://opendicom.sourceforge.net/ for more detailed informations.
